---
layout: main
description: David's Personal blog
keywords: Cyper Blog
title: Wild Flame
background-image: images/candle-alight.jpg
---
<div id="divLogo">
    <img src="/images/mort.png" alt="mort" height="48px" />
</div>

<div id="divBanner">
    ☆﻿ Cyber Blog <br />
    <span style="font-size: 48px">
        「Flame in the wild」
    </span><br />
    <span style="font-size: 32px">
        野の火
    </span><br />
    <div id="divSignature">
        {% include Signature.html %}
    </div>
</div>

<div id="divSeparator1"></div>
<div id="divSeparator2"></div>

<div id="divMiddle">

    <div class="divCategory">
        <h1 class="hTitle1">Archive</h1>
        <hr />
        {% include archive.html %}
    </div>
      
    <div class="divCategory">
        <h1 class="hTitle2"><a href="/about.html">About Me</a></b></h1>
        <hr />
        {% include ContactMe.html %}
    </div>
    
</div>

<div id="divLeft">

    <div class="divCategory">
        <h1 class="hTitle1">博客_Blog</h1>
        <hr />
        {% include Posts_zh.html %}
    </div>

    <div class="divCategory">
        <h1 class="hTitle1">項目_Projects</h1>
        <hr />
        {% include Projects.html %}
    </div>

    <div class="divCategory">
        <h1 class="hTitle1">翻譯_Translation</h1>
        <hr />
        This place is under construction, it will come soon. - Taffy 
        {% include Posts_en.html %}
    </div>  


</div>
    
    <div class="divCategory" style="visibility:hidden">
        <h1 class="hTitle1">Photos</h1>
        <div class="divExtLinks">
            <!--a href="" target="_blank"><img src="/images/gplus-32.png" alt="gplus" title="Google+ Albums" class="navDock" height="24" /></a 這個要等以後做Flicker用--> 
        </div>
        <hr />
        {% include Photos.html %}
        <p>
            This place is under construction! And it will be shown in one weeks.
        </p>
    </div>
    
    <!--div class="divCategory">
        <h1 class="hTitle1">Designs</h1>
        <div class="divExtLinks">
            <a href="http://soimort.deviantart.com" target="_blank"><img src="/images/deviantart.png" alt="deviantart" title="deviantArt" class="navDock" height="24" /></a>
        </div>
        <hr />
        {% include Designs.html %}
    </div-->
    
    <div class="divCategory" style="visibility:hidden">
        <h1 class="hTitle2">About me</h1>
        <hr />
        {% include AboutMe.html %}
    </div>
    
    <div class="divCategory" style="visibility:hidden">
        <h1 class="hTitle2">Links</h1>
        <hr />
        {% include Links.html %}
    </div>
    <div id="div0"></div>
</div>
