<article class="articleScrap">
    <aside class="asideScrap">
        <h2>David Lin</h2>
    </aside>
    
    <section class="sectionScrap">
        <a href="#"><img src="http://tp2.sinaimg.cn/2449860733/180/5654177578/1" width="30%" alt="avatar" class="imgScrap" /></a>
        <p>
        Daydreamer/ Half Geeker/ 100% Student
        </p>
    </section>

    <iframe width="100%" height="100" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_tw&width=0&height=100&fansRow=2&ptype=1&speed=300&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=2449860733&verifier=4c0f6630&colors=ccc,ccc,000,000,ecfbfd&dpc=1"></iframe>

</article>
