<!DOCTYPE HTML>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Dongwen's Home Page - Wildflame also in English</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
  </head>
  <body>
    <div id="header">
      <div>
        <div class="logo">
          <a href="index.html">David LIN</a>
        </div>
        <ul id="navigation">
          {% if page.active == "home" %}
          <li class="active"><a href="#">HOME</a></li>
          {% else %}
          <li><a href="index.html">HOME</a></li>
          {% endif %}
          {% if page.active == "cv" %}
          <li class="active"><a href="#">CV</a></li>
          {% else %}
          <li><a href="cv.html">CV</a></li>
          {% endif %}
          {% if page.active == "my works" %}
          <li class="active"><a href="#">MY WORKS</a></li>
          {% else %}
          <li><a href="myworks.html">MY WORKS</a></li>
          {% endif %}
          <li>
            |
          </li>
          <li>
            <a href="/">Chinese Blog</a>
          </li>
        </ul>
      </div>
    </div>
    {{ content }}
    <div id="footer">
      <div class="clearfix">
        <p>
          Last updated at, 2013, 19th, Dec.
        </p>
      </div>
    </div>
  </body>
</html>
